---
import "../styles/global.css";
import { Font } from "astro:assets";
import { getGlobalPageData } from "../utils/loaders";

import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import Partners from "../components/Partners.astro";
import CtaGroupNav from "../components/CtaGroupNav.astro";

const data = await getGlobalPageData();
const { header, banner, footer, support, socialLinks, partners } = data;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Font cssVariable="--font-cormorant" preload />
    <Font cssVariable="--font-proza" preload />
    <meta name="generator" content={Astro.generator} />
    <script src="https://kit.fontawesome.com/fcc9f7299e.js" crossorigin="anonymous"></script>
    <title>Astro + Strapi</title>
    <meta name="description" content="A modern Astro and Strapi example project" />
  </head>
  <body class="min-h-screen flex flex-col">
    { banner && <Banner data={banner} /> }
    <Header data={header} />
    <main class="flex-1">
      <CtaGroupNav links={header?.ctaGroup?.children} currentPath={Astro.url.pathname} />
      <slot />
    </main>
    { partners && <Partners data={partners} /> }
    { footer && <Footer footer={footer} contactPhone={support?.contactPhone} contactEmail={support?.contactEmail} contactAddress={support?.contactAddress} {socialLinks} /> }
  </body>
</html>
